<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather Forcast</title>
    <!--custom css-->
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <div class="cover">
      <div class="content">
        <h3>Cloudy</h3>
        <h5>Verkhoyansk,Russia</h5>
        <h1>-12째C</h1>
      </div>
    </div>
    <div>
        <div>
            
            <table>
                <tr>
                  <th>Weather</th>
                </tr>
                <tr>
                  <td class="td">Today</td>
                  <td class="td">-12째</td>
                </tr>
                <tr>
                  <td class="td">Tommorrow</td>
                  <td class="td">-12째</td>
                </tr>
                <tr>
                  <td>Next Day</td>
                  <td>-16째</td>
                </tr>
              </table>
              
        </div>
    </div>
  </div>
    
</body>
</html>